
#firstPage{
    background: url(image/fon/fon_orange.png);
    background-repeat: repeat-x;
	height:880px;
    z-index:0;
}



body,html {
	margin:0;
	padding:0;
}


#navigationBar {

    margin: auto;
    height: 60px;

    width: 520px;
}

#Kata {
    top: 600px;
    z-index: 0;
}

@font-face {
    font-family: Pompadur; /* Имя шрифта */
    src: url(Pompom.ttf); /* Путь к файлу со шрифтом */
}
.navigationElem {

    height:100%;
    float: left;
    z-index: 4;
    overflow:hidden;
    position:relative;
    ;
}



.navigationElem > a {
    display: block;
    height:100%;
    padding:15px;
    font-size: 25px;
    color: #FAFAD2;
    text-decoration:none;
    
    z-index: 6;
    position:relative;
    font-family:fantasy,Pompadur;
}

.navigationElem > div {
    position: absolute;
    height:100%;
    z-index:5;
    top: 0;
    opacity: 0;
    width:100%;
    text-align: center;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.navigationElem:hover > div {
    opacity: 1 !important;
}
.lighter > img {
    height: 47px;
}

#mainLink {
    display: block;
    float:left;
    width: 50%;
    height: auto;
    overflow: hidden;
    margin-left: 23%;
}

nav {
    position: relative;
    width:55%;
}

#underline {

    height: 10px;
    width:88%;
    position: relative;
    top:48px;
    border-top:1px black solid;

}

@font-face {
    font-family: Ametist;
    src: url(Pompom.ttf);
}

.mainText {
    width: 48%;
    margin-left: 20px;
    font-size: 23px;
    text-indent: 20px;
    position: relative;
    z-index: 2;;
}

#secondPage {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 600px;
    background: url(image/fon/fon_brown1.png) repeat-x;
    padding-top: 80px;
    padding-bottom: 40px;
}

@font-face {
    font-family: Ametist;
    src: url(Pompom.ttf);
}
.catalogText {

    font-size: 40px;
    color: #FAFAD2;
    margin: 0;
    font-family: Ametist  ;
    z-index: 6  ;
}

.catalogImage {
    width: 100%;
}

.cell {
    float: left;
    width: 33%;
    height: 300px;
    text-align: center;
    overflow: hidden;
}
.panel {
    overflow: hidden;
    float: left;
}

.marginer {

    margin: 25px 25px 0px 25px ;
    overflow: hidden;
}
.roller {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    position: absolute;
    left:0;
    right:0

}

.arrow {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    top: 37%;
    background-color: darkred;

    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: 5;
}
.arrow:hover {
    opacity: 1;
}

#vizor {
    position: relative;
}

#servis{

    background: url(image/fon/fon_grey1.png) repeat-x;
    width: 100%;
    height: 1460px;
    margin:0;
    padding-top: 40px;

}

#dost {
    width: 48%;
    margin-left: 20px;
    margin-top: 150px;
    font-size: 23px;
    text-indent: 15px;
    position: relative;
    z-index: 2
}

#dostImg {

    float: right;
}

#diz {

    width: 70%;
    margin-left: 20px;

    font-size: 23px;



}

.dizImg {
    width: 400px;
    height: 400px;

    padding-right: 200px;
}

.divDizTxt {
    width: 500px;
    height: 400px;
    margin-left: 150px;
    margin-bottom: 70px;
    float: left;
}

.divDizTxt > h2 {
    padding-top: 150px;
    padding-right: 150px;
    padding-left: 0;
    padding-bottom: 0;
}

.divDizTxt > p {
    width: 70%;
    font-size: 23px;
}

.divDizImg {
    width: 500px;
    height: 400px;
    margin-top: 70px;
    margin-left: 50px;
    margin-bottom: 0;
    float: left;
}

.divDizImg > p {
      width: 70%;
      font-size: 23px;
}

#zak {

    width: 48%;
    margin-left: 20px;
    margin-top: 150px;
    font-size: 23px;
    text-indent: 15px;
    position: relative;
    z-index: 2;
    float: right;
}

#zakImg {

    float:right;
}

#zakzak {

    width: 100%;
    height: 400px;

}

.dostImg {
    width: 500px;
    height: 400px;
    margin-top: 70px;
    margin-left: 50px;
    margin-bottom: 0px;
    float: left;
}
.dostImg {
    width: 400px;
    height: 400px;
    margin-top: 0;

}

.dostTxt {

    width: 500px;
    height: 400px;
    margin-left: 150px;
    float: left;
}

.dostTxt > h2 {
    padding-top: 60px;
    padding-right: 150px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.dostTxt > p {
    width: 70%;
    font-size: 23px;
}

#kontakt {
    width: 100%;
    height: 666px;
    background: url("image/fon/fon_green1.png");
    margin: 0;
}

#kontakt > p {
    font-size: 30px;
}

#underlineDown {
    height: 50px;
    width:100%;
    position: relative;
    top:600px;
    border-top:1px black solid;
}

#proezdImg {
    float: left;
    width: 400px;
    height: 400px;
    margin-top: 0;
}
.menu {
    position: fixed;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    top: 5%;
    background-color: darkred; /* Параметры рамки */
    float: right; /* вот хоть убей, не могу понять зачм это тут))) */
    z-index: 4;
    overflow:hidden;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 0;
}
.menu:hover {
    opacity: 1
}

.viewer {
    height: 0;
    background-color: #888888;
    position: fixed;
    top: -100px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 11;
    overflow: hidden;
}

.glass {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 0;
    background-color: black;
}

.layout {
    float: left;
    position: relative;
    overflow: hidden;
    display: none;
}

.fullSizeImage {
    max-width: 100%;
    max-height: 100%;
}

.placer {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
}
.helper {
    width: 0;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.viewName {
    text-align: left;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: underline;
    position: relative;
}

.viewDescription {
    color: white;
    font-size: 28px;
    margin: 0;
    position: relative;
    text-indent: 20px;
}

.viewPrice {
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    background-color: #44B200;
}